<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="app">
        <div id="nav-tab" class="tab">
            <div id="btn-container" class="nav-center">
                <a href="#">Graphic Cards</a>
                <a href="#">Motherboards</a>
                <a href="#">CPU</a>
            </div>
        </div>
        <div id="content" class="tabcontent"></div>
    </div>
    <script src="javascripts/images-requester.js"></script>
</body>

</html>