<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
        <div id="nav-tab" class="tab">
            <div class="nav-center">
                <button class="tablinks">Graphic Cards</button>
                <button class="tablinks">Motherboards</button>
                <button class="tablinks">CPU</button>
            </div>
        </div>
        <div class="tabcontent"></div>
    </body>
</html>